@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Management system</h1>


    <p>
        This page is for SMS Systems certified to interact with SDR and NSI. For a list of Student Management Systems that are compliant with the Unfunded International Providers (UIP) system see our list of UIP Compliance SMS Vendors.
    </p>
    <p>
        Certified systems have been verified by the Ministry to confirm that they interface correctly with the Ministry of Education's NSI and eSDR systems, that the SDR file format meets the requirements set out in the SDR Manual for the year named, and that the NSI and SDR data passed to the Ministry is an accurate representation of the data entered.
    </p>
    <p>
        The systems architecture, usability, performance, and anything not explicitly stated above as being covered is considered to be outside the scope of the certification programme.  In providing this certification the Ministry makes no warranty, expressed or implied, nor assumes any legal liability or responsibility for the system.

    </p>
</div>
